.noNetworkConnectionWrapper {
    position: relative;
    color: var(--colors-grey600);
    margin-top: var(--spacers-dp12);
    display: flex;
    align-items: center;
    gap: var(--spacers-dp8);
}
