.timer {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco, Consolas,
        Liberation Mono, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-block: 16px;
}
